<div class="container1">
    <app-nav-bar></app-nav-bar>
      <main class="main-content1">
          <!-- Content Panels -->
          <div class="content-area">
            <!-- Processes Panel -->
            <div class="panels-row">
              <section class="panel active" id="processus-panel">
                <div class="panel-header">
                  <h2>Processes</h2>
                  <button class="btn-primary" data-action="create" data-type="process" >Create</button>
                </div>
                <div class="table-container">
                  <table class="data-table">
                    <thead>
                      <tr>
                        <th>code</th>
                        <th colspan="2">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of processes" [class.fade-out]="item.id === currentProcessId && !activeEditN">
                        <td>{{ item.code }}<td>
                        <td><button class="btn-action edit">Edit</button></td>
                        <td><button class="btn-action delete">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
            </div>
            <div class="panels-row">
              <!-- Statistics Panel -->
            </div>
            <div class="panels-row three-panels">
              <!-- Roles Panel -->
              <!-- Objectives Panel -->
              <!--  section -->
            </div>
          </div>
        </main>
  </div>
  

  
<!--Creat NonConformite-->
<div class="modal" id="crud-modal" [class.active]="activeEditN">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modal-title">modif le Prosses {{NonConformite.name}}</h2>
        <span class="close-modal"><button routerLink="/dashbordIb" class="close-button" >&times;</button></span>
      </div>
      <div class="modal-body">
        <form id="crud-form">
          <div class="form-group">
            <div class="form-group">
                <label for="item-name">Id</label>
                <input type="text" id="item-name" name="id" required [(ngModel)]="id" />
              </div>
            <label for="item-name">name</label>
            <input type="text" id="item-code" name="code" required [(ngModel)]="NonConformite.name" />
          </div>
          <div class="form-actions">
            <button routerLink="/dashbord" type="button" class="btn-cancel" >Cancel</button>
            <button type="submit" class="btn-submit" (click)="UppdateNonConf()"><i class="fas fa-spinner fa-spin"></i>Save...</button>
          </div>
        </form>
      </div>
    </div>
  </div>
